*{
    margin: 0px;padding: 0px;box-sizing: border-box;
}



html {
    font-size: 62.5%;       /*1rem=16px */
}
@media(max-width:2560px){
   html{font-size: 117%;}
} 
@media(max-width:1440px){
   html{font-size: 61.7%;}
} 
@media(max-width:1024px) {
   html {
       font-size: 52%;
   }
}

@media(max-width:768px) {
   html {
       font-size: 90%;
   }
}

@media(max-width:425px) {
   html {
       font-size: 70%;
   }
}

@media(max-width:365px) {
   html {
       font-size: 35%;
   }
}

@media(max-width:320px) {
   html {
       font-size: 25%;
   }
} 

.oclass{
width:136.6rem;
height:30rem;
}
.mclass{
width:45rem;
height:46rem;
background-color:white;
border:1px solid #dfdfdf;
border-radius:1rem;
margin-top:3.5rem;
text-align:center;
margin-left:45rem;
}
.google{
font-size:2.5rem;
font-weight:bold;
}
input{
width:40rem;
height:4rem;
border:2px solid blue;
border-radius:.5rem;
padding:.5rem;
}
.sclass{
display:flex;
margin:2.5rem;
}
.btn1{
width:20rem;
height:4rem;
color:#6161fc;
color:white;
background-color:blue;
border:1px solid blue;
border-radius:.5rem;
font-weight:bold;
font-family:arial;
font-size:1.5rem;
margin-top:3rem;
}
.fmail{
font-size:2rem;
float:left;
padding-left:2.4rem;
padding-top:1.5rem;
text-decoration:none;
}
.fmail:hover{
color:red;
text-decoration:underline;
}
.learn{
font-size:2rem;
float:left;
padding-left:2.4rem;
text-decoration:none;

}
.learn:hover{
color:red;
text-decoration:underline;
}
ul{
display:flex;
}
ul a{
margin-left:2.7rem;
margin-top:16rem;
font-size:2rem;
text-decoration:none;
}
ul a:hover{
color:red;
text-decoration:underline;
}
ul{
margin-left:52.5rem;
}

